hr {
	border: 1px solid white;
}

.profile {
	display: flex;
	align-items: center;
	padding-top: 5em;
	margin-left: 7em;
	margin-right: 7em;
}

.linkTo {
	color: black;
	font-weight: bold;
}

span a {
	color: black;
	font-style: italic;
}

.imgPro {
	width: 28%;
	border-radius: 100%;
	border: 2px solid rgb(255, 255, 255);
}

.card {
	color: black;
	margin-left: 10%;
	box-shadow: 8px 8px 14px rgb(172, 172, 172);
	padding: 2em;
	background-color: rgba(255, 255, 255, 0.80);
	border-radius: 1px;
	line-height: 140%;
}

button {
	padding: 8px;
	margin: 3em;
	background-color: rgba(255, 255, 255, 0.80);
	border-radius: 4px;
	border: 1px solid black;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 15px;
	width: 8rem;
}

button:hover {
	background-color:#18152c;
	color: white;
	border: 0.5px solid white;
}

@media (max-width: 768px) {
	.profile {
		display: flex;
		flex-direction: column;
	}

	.imgPro {
		width: 50%;
	}

	.card {
		margin: 1em 0;
	}
}