.project {
  width: 20%;
  margin: 1em;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px rgb(218, 218, 218);
}

.project:hover {
  opacity: 1;
}

.modalImg {
  width: 60%;
	margin: 1em;
  color: black;
  border: 1px solid black;
}

.modalDes {
  width: 70%;
  text-align: justify;
}

.modalContainer {
  display: flex;
	flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  height: 350pt;
  width: 350pt;
  overflow: hidden;
  background-color: rgba(221, 221, 221, 0.459);
  padding-bottom: 20px;
 }

.picProject {
  margin-left: 5.5em;
}

.modalHead {
  display: flex;
  flex-flow: row nowrap;
}

.modalClose {
  cursor: pointer;
  margin-right: 1em;
}

h3 {
  margin-bottom: 1em;
  text-decoration: underline;
}

.codeGithub {
  color: black;
  text-align: center;
  font-weight: bold;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

@media screen and (max-width: 640px) {
  .project {
    width: 80%;
  }

  .modalContainer {
    width: 200pt;
  }

  .picProject {
    margin-left: 2.5em;
  }
}