.navbarContact {
	color: black;
}

.monContact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
}

.monMail, .monTel {
	width: 18em;
	height: 8em;
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	box-shadow: 5px 5px 15px rgba(211, 211, 211, 0.75);
}

.envelop, .phone {
	margin-right: 0.5em;
}

.mail, .telephone {
	color: rgba(82, 82, 82, 0.781);
	padding: 20px;
	font-weight: bold;
}

.monMail:hover, .monTel:hover {
	opacity: 1;
	background-color: rgba(17, 12, 44, 0.8);
}

.monMail:hover a,
.monTel:hover a {
	color: whitesmoke;
}

@media (max-width: 768px) {
	.monContact {
		margin-top: 7em;
	}
}