.projectsList {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 4em 0;
	justify-content: center;
}

@media (max-width: 768px) {
	.projectsList {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 3em;
		overflow: hidden;
	}
}