.projectsList {
  display: flex;
  flex-flow: row wrap;
	justify-content: center;
	max-width: 60%;
	margin: auto;
}

@media (max-width: 768px) {
	.projectsList {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: auto;
		margin-top: 3rem;
		overflow: auto;
	}
}

@media (max-width:1024px) {

	.projectList {
		max-width: 90%;
		margin: auto;
	}
}